.DropBoxItem {
	list-style-type: none;
	
	a {
		display: block;
		text-decoration: none;
		font-size: 16px;
		color: #391400;
		font-weight: 400;
		font-family: "Epilogue";
		background-color: #ffffff;
		text-align: left;
		padding: 17px 0 15px 17px;
		&:hover{
			text-decoration: underline;
		}
	}
	
}