.SelectorItem {
	list-style-type: none;
		font-size: 16px;
		line-height: 2;
		cursor: pointer;
		font-weight: 400;
		font-family: "Epilogue";
		text-decoration: none;
		&.green {
			color: #16cd53;
		}
		&.red {
			color: #391400;
		}
	
	
}

